#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hangouts call
Exec=/usr/bin/chromium --profile-directory=Default --app-id=kbpgddbgniojgndnhlkjbkpknjhppkbk
Icon=chrome-kbpgddbgniojgndnhlkjbkpknjhppkbk-Default
StartupWMClass=crx_kbpgddbgniojgndnhlkjbkpknjhppkbk
OnlyShowIn=Old;
