#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Awesome Screenshot: Capture & Annotate
Exec=/usr/bin/chromium --profile-directory=Default --app-id=alelhddbbhepgpmgidjdcjakblofbmce
Icon=chrome-alelhddbbhepgpmgidjdcjakblofbmce-Default
NoDisplay=true
StartupWMClass=crx_alelhddbbhepgpmgidjdcjakblofbmce
OnlyShowIn=Old;
